/****************** 
*** BASE STYLES ***
******************/
    
* {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

header {
    border: 1px solid black;
}

h1 {
    font-size: 42px;
    margin: 0px;
    width: 78%;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    color: #1B75BB; 
    margin-top: 14px;
    margin-bottom: 12px;
}

h3 {
    margin-top: 0px;
    color: #1B75BB;    
}

img {
    position: absolute;
    right: 24px;
    bottom: 0px;    
}

nav {
    position: absolute;
    top: 212px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 12px;
}

li {
    font-size: 18px;
    line-height:36px;
    width: 144px;
    height: 36px;
    padding-left: 9px;
    margin-right: 12px;
    border: 1px solid black; /* remove this property */
    float: left;
}

a {
    text-decoration: none;
    color: #1B75BB;
}

a:hover {
    color: #2898EF;
}

a:active {
    color: #155D95;
}

span {
    font-size: 14px;
    font-weight: bold;
}

form > span {
    display: inline-block;
    margin-bottom: 12px;
}

form label {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
}

p {
    font-family: Arial;
    font-size: 12px;
    color: #58585B;
}

footer {
    font-size: 12px;
    text-align: center;
    clear: both;
}

/******************** 
*** HEADER STYLES ***
********************/

#header-top {
    height: 36px;
    padding-left: 24px;
    padding-right: 24px;
}

#brand {
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;    
}  

#login-link {
    font-size: 14px;
    float: right;
    line-height: 36px;    
}

#header-bottom {
    padding: 14px 24px 14px 24px;
    height: 192px;
    position: relative;
}

#subtitle {
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #000000;
    width: 78%; 
}

/*****************
*** NAV STYLES ***
*****************/

/*
.tab-active {
    background-color: #FFFFFF;
}

.tab-inactive {
    background-color: #808284;
}

.tab-inactive > a {
    color: #FFFFFF;
}

.tab-inactive > a:hover {
    color: #155D95;
}

.tab-inactive > a:active {
    color: #123f62;
}
*/

/*************************
*** BROWSE FORM STYLES ***
*************************/

#form-section {
    padding: 5px 24px 24px 24px;
}

#form-top {
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-bottom: 12px;
}

#btn-group {
    line-height: 36px;
    height: 36px;
    position: absolute;    
    top: 0px;
    right: 0px;
}

#btn-create {
    font-size: 18px;
    font-weight: bold;
    width: 36px;
    height: 36px;
    float: left;
}

#create-label {
    font-size: 14px;
    line-height: 36px;
    margin-left: 12px;
    float: left;
}

.subboxes {
    margin-left: 36px;
}

.input-col {
    float: left;
}

#remember-input {
    padding-top: 24px;
    clear: both;
}

#btn-submit {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 12px;
}

#search-input {
    width: 300px;
    margin-right: 9px;
}

#date-input {
    margin-top: 12px;
    margin-bottom: 12px;
}

/************************
*** LOGIN FORM STYLES ***
************************/

#login-form-section {
    padding: 0px;
    margin-top: 36px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

#login-form > label {
    display: inline-block;
    line-height: 26px;
    text-align: right;        
    width: 60px;
    margin-right: 12px;
}

#login-form > input {
    width: 200px;
}

#btn-login {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 12px;
    margin-top: 12px;
    margin-left: 72px;
}

/**************************
*** CONTACT FORM STYLES ***
**************************/

#contact-form-section {
    padding-left: 24px;
    padding-right: 24px;
}

#contact-form > label {
    display: inline-block;
    line-height: 26px;    
    text-align: right;
    width: 150px;
    margin-right: 12px;
}

#msg-label {
    vertical-align: top;
}

#contact-form > input {
    width: 290px;
}

#contact-form > textarea {
    width: 450px;
    resize: none;
}

.alert-required {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #1B75BB;
    line-height: 12px;
    margin-left: 12px;
}

#btn-send {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 12px;
    margin-top: 24px;
    margin-left: 162px;    
}

/*****************
*** POD STYLES ***
*****************/

#pod-section {
    padding: 24px 24px 36px 24px;
    margin-bottom: 24px;
    float: left;
}

.pod {
    border: 1px solid #6D6E70;
    padding: 24px;
    margin-bottom: 24px;
}

#upcoming-heading {
    margin-left: 24px;
}

.event-pod {
    width: 24%;
    height: 300px;
    margin-top: 0px;
    margin-right: 24px;
    float: left;
}

.btn-pod {
    font-size: 13px;
    padding: 12px;
}

div > span {
    font-size: 10px;
}

/********************
*** FOOTER STYLES ***
********************/

#back-top {
    font-size: 14px;
    position: fixed;
    right: 40px;
    bottom: 24px;
}